@page
@using asp_net_core_shared
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<title>Architect - ASP.NET Core</title>
<div class="container">
    <p>
        <a href="//architect.io" target="blank">
            <img src="https://cdn.architect.io/logo/horizontal.png"
                 width="320"
                 alt="Architect Logo" />
        </a>
    </p>

    <h1>Favorite Movie</h1>

    <form method="post">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-3">
                    <input
                        class="form-control"
                        placeholder="Movie Title*"
                        type="text"
                        id="MovieName"
                        name="MovieName"
                        value=""
                        maxlength="80"
                        required>
                </div>
                <div class="col-3">
                    <input
                        class="form-control"
                        placeholder="Rating 1-5*"
                        type="number"
                        id="MovieRating"
                        name="MovieRating"
                        value=""
                        min="1"
                        max="5"
                        required>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-3">
                    <button type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>

    @if (Model.MovieList.Count() != 0) {
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var movie in Model.MovieList)
            {
                <tr>
                    <td>@movie.Name</td>
                    <td>@movie.Rating</td>
                </tr>
            }
            </tbody>
        </table>
    } else {
        <p>No movies found</p>
    }

</div>
